<tr class="">
  <td>
    <a href="#{{ service.name }}">{{ service.name|default('Name') }}</a>
  </td>
  <td class="">
    {% if service.status is defined %}
    <div class="btn-flex pull-right">
      {{ spaceless }}

      {% if service.extended %}
      <a class="badge glyphicon glyphicon-plus btn-bubble-left" aria-hidden="true"
        href="#{{ service.name }}"> </a>
      {% endif %}

      <a role="button" class="btn btn-xs btn-{{ service.status.style|default("default") }}" 
        href="{{ service.link|default("#") }}" aria-label="">
        <span class="glyphicon glyphicon-{{ service.status.icon|default('question-sign') }}" 
          aria-hidden="true"></span> {{ service.status.text|default('Unknown') }}
      </a>

      {{ endspaceless }}
    </div>
    {% endif %}
  </td>
</tr>
