{% macro SEFormat(episode) %}
{{ "S%02dE%02d"|format(episode.seasonNumber, episode.episodeNumber) }}
{% endmacro %}

{% macro episodeBlock(item) %}
{% import _self as macros %}
<span class="noWrap">{{ macros.SEFormat(item.episode) }}</span>
<span class="noWrap"><strong>{{ item.series.title }}</strong> - </span>
<span class="noWrap">{{ item.episode.title }}</span>
{% endmacro %}
{% import _self as macros %}


{% if service.content.sessions._children %}
<h3>Now Playing</h3>
{% for media in service.content.sessions._children %}
<div class="row media-row">
  <div class="col-md-12">
    {% if media.type == 'episode' %}
      <h4 class="media-heading">
        <strong> {{media.grandparentTitle}} </strong>
               - {{media.title}}
      </h4>
    {% elseif media.type == 'movie' %}
      <h4 class="media-heading">
        <strong>
          {{media.title}}
        </strong>
        ({{media.year}}) Rated: {{media.contentRating}}
      </h4>
    {% endif %}
    <div class="media-text">
      <a href="/plex.php?img={{media.thumb}}" data-featherlight="image">
        <img class="media-object" id="{{media.thumb}}"
             src="/plex.php?img={{media.thumb}}" alt="...">
      </a>
      {% if media.type == 'episode' %}
        {{media.summary}}
      {% elseif media.type == 'movie' %}
        {{media.summary}}
      {% endif %}

    </div>
  </div>
</div>
  <div class="row">
    <div class="user-block">
    {% for attr in media._children %}
      {% if attr._elementType == 'User' %}
        <img class="gravatar" src="{{attr.thumb}}">
        <div><strong>User:</strong> {{attr.title}}</div>
      {% elseif attr._elementType == 'Player' %}
        <div><strong>Device:</strong> {{attr.title}}</div>
        <div><strong>Platform:</strong> {{attr.platform}}</div>
        <div><strong>State:</strong> {{attr.state}}</div>
      {% endif %}
    {% endfor %}
    </div>
  </div>
{% endfor %}
{% endif %}


{% if service.content.recentlyAdded._children %}
<h3>Recently Added</h3>
{% for media in service.content.recentlyAdded._children %}
<div class="row media-row">
  <div class="col-md-12">
    {% if media.type == 'season' %}
      <h4 class="media-heading">
        <strong> {{media.parentTitle}} </strong>
               - {{media.title}}
      </h4>
    {% elseif media.type == 'movie' %}
      <h4 class="media-heading">
        <strong>
          {{media.title}}
        </strong>
        ({{media.year}}) Rated: {{media.contentRating}}
      </h4>
    {% endif %}
    <div class="media-text">
      <a href="/plex.php?img={{media.thumb}}" data-featherlight="image">
        <img class="media-object" id="{{media.thumb}}"
             src="/plex.php?img={{media.thumb}}" alt="...">
      </a>
      {% if media.type == 'season' %}
        {{media.parentSummary}}
      {% elseif media.type == 'movie' %}
        {{media.summary}}
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}
{% endif %}

